$itemGrow: 1.2;
$duration : 450ms;


.card {
  height: 43vh;
  overflow: scroll;
  display: flex;
  scroll-behavior: smooth;


  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 50;
    margin: 50px 0px;
  }

  &__data {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 10px;
  }

  .item {
    display: flex;
    padding: 0 2px;
    transition: $duration all;


    &:hover {
      position: relative;
      z-index: 200;
     border-radius: 10px;
      height: 220px;
      background-color: rgb(32, 32, 32);
      display: flex;
      flex-direction: column;
      margin: 0 60px;
      transform: scale(1.5);
      z-index: 10;


      .card__hidden {
        display: block;
        color: rgb(255, 255, 255);
        h3 {
          font-size: .9rem;
        }
      }
    }

  }

  &__img {
    object-fit: contain;
    max-height: 130px;
  }

  &__hidden {
    display: none;
  }

  .item__hidden {
    display: none;
    color: green;
    position: absolute;


  }
  .backgroundd{
    position: absolute;
    max-width: 170px;
    border: 2px  solid white;
    background-color: green;
  }
}

